.btn-action {
  margin: 0 !important; }

.accordion {
  z-index: 10; }

.accordion-body {
  background: #F8F9FA; }

p {
  margin: 0.5em 0; }

.btn {
  margin: 0.5em; }
  .btn__edit-icon {
    border: none; }

.centered {
  display: flex;
  align-items: center;
  flex-direction: column; }

input {
  margin-bottom: 0.5em;
  padding: 0.5em; }

input::-webkit-input-placeholder {
  color: #adbdd6 !important; }

ul {
  list-style: none; }

li {
  list-style: none; }

.text-xs {
  font-size: 0.6em; }

.text-sm {
  font-size: 0.8em; }

.line-height-lg {
  line-height: 2em; }

.box {
  border: 1px solid lightgrey;
  word-wrap: break-word;
  position: relative;
  padding: 0.5em; }

.box-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

.box-footer {
  display: flex;
  justify-content: space-between; }
  .box-footer.edit {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em; }

.capalaize {
  text-transform: capitalize; }

.page__container {
  padding: 2em; }

.page__content {
  margin-bottom: 1em; }

form {
  display: flex;
  flex-direction: column;
  max-width: 50%; }

nav {
  width: 100%;
  background: #F8F9FA;
  color: #5755d9;
  -webkit-box-shadow: 2px -2px 16px 5px rgba(219, 215, 219, 0.39);
  -moz-box-shadow: 2px -2px 16px 5px rgba(219, 215, 219, 0.39);
  box-shadow: 2px -2px 16px 5px rgba(219, 215, 219, 0.39);
  height: 60px;
  padding-top: 7px; }
  nav ul, nav li {
    margin: 0; }
  nav ul {
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      padding: 1em; }

.kitchen__wrapper {
  height: 100vh;
  width: 100%;
  padding: 1em;
  position: relative; }

.kitchen__cupboards__mainland-west, .kitchen__cupboards__mainland-east, .kitchen__cupboards__peninsula, .kitchen__cupboards__island {
  background: #DAD9D9;
  position: absolute; }

.kitchen__cupboards__mainland-west {
  height: 10%;
  width: 40%;
  right: 15%; }

.kitchen__cupboards__mainland-east {
  height: 60%;
  width: 10%;
  right: 0%;
  top: 15%; }

.kitchen__cupboards__peninsula {
  height: 10%;
  width: 50%;
  right: 0%;
  top: 75%; }

.kitchen__cupboards__island {
  width: 25%;
  height: 40%;
  top: 23%;
  right: 23%; }

.kitchen__fridges__west, .kitchen__fridges__east {
  background: #A6C5FE;
  position: absolute; }

.kitchen__fridges__west {
  height: 10%;
  width: 45%; }

.kitchen__fridges__east {
  top: 20%;
  height: 10%;
  width: 10%; }

.mainland-west-cupboards__container {
  position: relative;
  height: 400px;
  width: 100%; }

.mainland-west__cupboard {
  display: inline-block;
  width: calc(100% / 6);
  height: 100%;
  vertical-align: bottom; }
  .mainland-west__cupboard--top--container, .mainland-west__cupboard--bottom--container {
    width: 100%; }
  .mainland-west__cupboard--sink {
    height: auto;
    text-align: center; }

.mainland-west--3, .mainland-west--4, .mainland-west--5 {
  height: 70%;
  vertical-align: top; }

.mainland-west--8, .mainland-west--9, .mainland-west--10, .mainland-west--11 {
  height: 90%;
  vertical-align: bottom; }

.box {
  border: 1px solid lightgrey;
  word-wrap: break-word;
  position: relative;
  padding: 0.5em; }

.box-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

.box-footer {
  display: flex;
  justify-content: space-between; }
  .box-footer.edit {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em; }

.floor-plan__container {
  height: calc(100vh - 60px);
  width: 100%;
  border: 1px solid;
  position: relative; }

.floor-plan__room {
  display: inline-block;
  width: calc(100% / 6);
  height: 100px;
  vertical-align: top; }
  .floor-plan__room--footer {
    display: flex;
    justify-content: space-between; }
    .floor-plan__room--footer.edit {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em; }

.room-container--1 .floor-plan__room:nth-child(3), .room-container--2 .floor-plan__room:nth-child(3) {
  float: right; }

.floor-plan__room--break {
  background: lightblue; }
