.floor-plan__container {
  height: calc(100vh - 60px);
  width: 100%;
  border: 1px solid;
  position: relative; }

.floor-plan__room {
  position: absolute;
  border: 1px solid lightgray; }
  .floor-plan__room:nth-child(1), .floor-plan__room:nth-child(2), .floor-plan__room:nth-child(3) {
    background: blue;
    top: 0; }
  .floor-plan__room:nth-child(1) {
    left: 0; }
  .floor-plan__room:nth-child(2) {
    left: 50px; }
  .floor-plan__room:nth-child(3) {
    right: 0; }

.floor-plan__room--break {
  background: yellow; }
