@import "variables.scss";
@import "common.scss";

$room-break-height: 5%;
$unit-width: calc(100% / 6);
$unit-height: 25%;
$front-door-width: 5%;

.ground-floor__bedrooms {
  display: flex;
  flex-direction: row;
  height: $unit-height;
}
.top-floor__bedrooms {
  height: 100%;
  position: relative;
}
.room-container--1, .room-container--2, .room-container--3 {
  height: $unit-height;
  .bedroom {
    height: 100%;
    display: inline-block;
  }
}
.room-container--1, .room-container--2 {
  .bedroom:nth-child(3) {
      float: right;
  }
}
.room-container--2, .room-container--3 {
  position: absolute;
  width: 100%;
}
.room-container--2 {
  bottom: 30%;
}
.room-container--3 {
  bottom: 0;
}

.bedroom {
  width: $unit-width;
}

.workshop__container,
.utilities__container {
  border: 1px solid $border-primary;
  display: inline-block;
  height: calc(#{$unit-height} * 3);
}
.utilities__container {
  width: calc(#{$unit-width} * 2);
}
.workshop__container {
  float: right;
  width: $unit-width;
}
.kitchen__container {
  position: absolute;
  left: calc(#{$unit-width} * 2);
  width: calc(#{$unit-width} * 2.75);
  height: 60%;
}