@import "variables.scss";
@import "common.scss";

$room-break-height: 10%;

.floor-plan {
  &__container {
    height: calc(100vh - #{$nav-header-height});
    width: 100%;
    position: relative;
  }
  &__room {
    display: inline-block;
    width: calc(100% / 6);
    height: 100%;
    vertical-align: top;
    }
  }
.room-container {
  height: 25%;
  &--1, &--2 {
    .floor-plan__room:nth-child(3) {
      float: right;
    }
  }
}

.floor-plan__room--break {
  background: lightblue; 
}

.top-floor {
  &__container {
    width: 100%;
    position: relative;
  }
  &__bedrooms--container {
    position: absolute;
    width: 100%;
  }
}

.top-floor__container--kitchen {
  .full-height {
    border: 1px solid;
  }
}