@import "variables.scss";
@import "common.scss";

$room-break-height: 5%;
$unit-width: calc(100% / 6);
$unit-height: 25%;
$front-door-width: 5%;

.ground-floor__bedrooms {
  display: flex;
  flex-direction: row;
  height: $unit-height;
}

.bedroom {
  width: $unit-width;
}

.workshop__container,
.utilities__container,
.kitchen__container {
  border: 1px solid $border-primary;
  display: inline-block;
  height: calc(#{$unit-height} * 3);
}
.utilities__container {
  width: calc(#{$unit-width} * 2);
}
.workshop__container {
  float: right;
  width: $unit-width;
}
.kitchen__container {
  width: calc(#{$unit-width} * 2.75);
}