@import "variables.scss"; 

p {
  margin: $margin-sm 0;
}
.btn {
    margin: $margin-sm;
    &__edit-icon {
      border: none;
    }
}
.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: $margin-sm;
  padding: $padding-sm;
}

input::-webkit-input-placeholder {
color: #adbdd6 !important;
}
ul {
  list-style: none;
}
li {
    list-style: none;
}

.text-xs {
  font-size: $text-xs;
}
.text-sm {
  font-size: $text-sm;
}

.line-height-lg {
  line-height: $line-height-lg;
}
