.mainland-west__cupboard {
  display: inline-block;
  width: calc(100% / 6); }
  .mainland-west__cupboard--shelf {
    height: 100px; }
  .mainland-west__cupboard--sink {
    text-align: center; }

.kitchen__cupboard {
  border: 1px solid;
  position: absolute; }
  .kitchen__cupboard__corner {
    width: 10%;
    height: 15%; }
  .kitchen__cupboard__mainland-east {
    width: 80%;
    left: 10%;
    height: 15%; }
  .kitchen__cupboard__peninsula {
    width: 10%;
    height: 50%;
    right: 0; }
  .kitchen__cupboard__mainland-west {
    top: 15%;
    width: 10%;
    height: 40%; }
  .kitchen__cupboard__island {
    top: 30%;
    right: 25%;
    height: 40%;
    width: 50%; }
