@import "variables.scss";

.kitchen {
    &__wrapper {
      height: 50vh;
      width: 100%;
      padding: $padding-md;
      border: 1px solid black; 
    &__cupboards {
      border: 1px solid black;

    }
    &__fridges {
      border: 1px solid black; 
    }
  }
}