@import "variables.scss";

.mainland-west {
  &__cupboard {
    &--shelf {
      height: 100px;
    }
    display: inline-block;
    width: calc(100% / 6);
    &--sink {
      text-align: center;
    }
  }
}