.kitchen__wrapper {
  height: 50vh;
  width: 100%;
  padding: 10px;
  border: 1px solid black; }
  .kitchen__wrapper__cupboards {
    border: 1px solid black; }
  .kitchen__wrapper__fridges {
    border: 1px solid black; }
