nav {
  width: 100%;
  background: #F8F9FA;
  color: #5755d9;
  -webkit-box-shadow: 2px -2px 16px 5px rgba(219, 215, 219, 0.39);
  -moz-box-shadow: 2px -2px 16px 5px rgba(219, 215, 219, 0.39);
  box-shadow: 2px -2px 16px 5px rgba(219, 215, 219, 0.39);
  padding: 10px; }
  nav ul, nav li {
    margin: 0; }
  nav ul {
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      padding: 10px; }
