@import "variables.scss";

.page {
  &__container {
      padding: $padding-lg;
  }
  &__content {
      margin-bottom: $margin-md;
  }
}
form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.full-height {
  height:100vh;
}
.full-width {
  width:100%;
}
